@import "vars";
@import "fonts";
@import "media";

body {
	font-size: 16px;
	line-height: 1.65;
	font-family: 'Raleway', sans-serif;
	overflow-x: hidden;
	color: black; 
	margin: 0;
	padding: 0;
}
.flex {
	display: flex;
}
.grid {
	display: grid;
}
.header {
	height:95px;
	background-color: #303030;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
}

.logo {
	margin-left: 270px;
}
ul {

	li {
		display: inline-block;
		list-style-type: none;
		padding-right: 40px;
		&:last-child {
			padding-right: 120px;
		}
		a {
			text-transform: uppercase;
			text-decoration: none;
			color: white;
			padding-bottom: 10px;
			box-sizing: border-box;
			height: 40px;
			&:hover {
				border-bottom: 5px solid #7b6c63;
			} 

		}
	}
}
.main-header {
	padding-left: 370px;
	flex-flow: column wrap;
	justify-content: center;
	align-items: flex-start;
	height: 675px;
	background-image: url(/img/bg.jpg);
	background-position: center;
	background-size: cover;
	background-color: black;
	position: relative;
	color: white;
	 &::before {
	 	content: '';
	 	background-color: black;
		top: 0;
	 	bottom: 0;
 		right: 0;
		left: 0;
	 	opacity: .50;
	 	position: absolute;
	}
	h1 {
		z-index: 1;
		text-transform: uppercase;
		line-height: 75px;
		font-size: 65px;
		font-weight: 400;
		letter-spacing: 1.65px;
		margin-top: 0;
		margin-bottom: 68px;
		span {
			color: lighten(#7b6c63, 5%);
		}
	}
	h4 {
		text-transform: uppercase;
		z-index: 1;
		font-weight: 500;
		font-size: 24px;
		margin-bottom: 20px;
		padding-bottom: 0;
	}

}
.button {
		z-index: 1;
		height:40px;
		width:300px;
		position: relative;
		a {
			text-decoration: none;
			border: 1px solid black;
			padding: 20px 55px;
			background-color: #25221e;
			color: white;
			position: absolute;
			box-shadow: 4px 4px 8px black;
			&:active {
				transform: translate(5px, 5px);
				box-shadow: none;
				background-color: darken(#25221e, 3%);
			}
		}	
}
.fa-download {
	margin-left: 5px;
}
.about-header {
	flex-flow: column wrap;
	justify-content: center;
	// align-content: center;
	align-items: center;
	h2 {
		font-weight: 400;
		font-size: 40px;
		color: #7b6c63;
		text-transform: uppercase;
		margin-top: 60px;
	}
	hr {
		background-color:#7b6c63;
		width: 4%;
		height: 5px;
	}
	p {
		font-weight: 400;
		font-size: 18px;
		color: #212121;
		text-align: center;
		margin-bottom: 63px;
	}
}
.about-content-text {
	padding-left: 65px;
	padding-bottom: 20px;
	width: 50%;

}
.skew-img {
	width: 50%;
	img {
		width: 100%;
	}
}
.about-content {
	//overflow: hidden;
	flex-flow: row nowrap;
	justify-content: space-between;
	background-color: #f5f5f5;
	p {
		font-weight: 400;
		font-size: 16px/30px;
		color: #212121;
		text-align: center;
		margin-bottom: 63px;
		text-align: left;
		margin-bottom: 0;
	}
	h3 {
		font-weight: 500;
		font-size: 24px;
		color: #7b6c63;
		text-transform: uppercase;
		margin-top: 60px;
	}
	.btn {
		margin-top: 35px;
		a {
			text-decoration: none;
			border: 1px solid black;
			border-radius: 5px;
			padding: 20px 27px;
			background-color: rgba(0, 0, 0, 0);
			color: #000;
			}
		}

}
.about-footer {
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	padding:0 24%;
	p {
		font-weight: 400;
		font-size: 16px/30px;
		color: #000;
		text-align: center;
		margin-bottom: 0;
	}
	h3 {
		font-weight: 500;
		font-size: 24px;
		color: #7b6c63;
		text-transform: uppercase;
		margin-top: 80px;
		margin-bottom: 30px;
		}
}
.column {margin-top: 90px;}
.column-item {
	padding-right: 30px;
	text-align: center;
	&:last-child {
		padding-right: 0;
	}
	p {
		font-weight: 400;
		font-size: 16px/24px;
		color: #949494;
		margin-bottom: 0;
	}
	h4 {
		font-weight: 400;
		font-size: 18px/30px;
		color: #363636;
		text-transform: uppercase;
		margin-bottom: 30px;
		}

}
.icon {
	font-size: 30px;
}
.skills {
		background: black url(/img/skills.jpg) center no-repeat;
		background-size: cover;
		color: white;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		h2 {z-index: 2}
		&::before {
			content: '';
			background-color: #000;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			z-index: 1;
			position: absolute;
			opacity: .7;
		}
		.col {
		z-index: 2;
		.disc {
			text-align: center;
			.disc-item {
				background-image: url(/img/1.png);
				background-position: center;
				background-size: auto;
				background-repeat: no-repeat;
				padding: 80px;

			}

		}
	}

}
.gallery {
	.some-recent-project {
		@extend .about-header;
	}
	.gallery-item {
		text-align: center;
		h5 {color: #fff;
			font-size: 18px;
			line-height: 30px;
			font-weight: 500;
			letter-spacing: 0.9px;
			margin-bottom: 25px;
		}
		hr {

			width: 36px;
			height: 4px;
			background-color: #ffffff;
			}
		p {
			font-size: 14px;
			font-weight: 300;
			letter-spacing: 2.8px;
			color: #fff;
			margin-top: 25px;
		}
		h5,p,hr {
			z-index: -1;
		}
		height: 350px;
		.itemall {
			width: 25%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			position: relative;
			&:hover {
				h5,p,hr {
					z-index: 2;
				}
				&::before {
					background-color: rgba(0,0,0,.8);
				}
			}
			&::before {
				top: 20px;
				left: 20px;
				right: 20px;
				bottom: 20px;
				content: '';
				position: absolute;
				background-color: rgba(0,0,0,0);
				z-index: 1;
				transition: background-color 1s ease;
			}
		}
		.item1 {
			background: #000 url(/img/1g.jpg) no-repeat;
		}
		.item2 {
			background: #000 url(/img/2g.jpg) no-repeat;
		}
		.item3 {
			background: #000 url(/img/3g.jpg) no-repeat;
		}
		.item4 {
			background: #000 url(/img/4g.jpg) no-repeat;
		}

	}
	.gallery-text {
		height: 396px;
		background-color: #000;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 130px, 0;
		h2 {
			font-size: 24;
			color: #fff;
			letter-spacing: 1.2px;
		}
		p {
			font-size: 18px;
			color: #fff
		}
		a {
			text-decoration: none;
			color: #29c5f2;
		}
	}
	.seeall {
		padding: 90px 0;
		text-align: center;
		a {text-decoration: none;
			border: 1px solid black;
			border-radius: 5px;
			padding: 20px 27px;
			background-color: rgba(0, 0, 0, 0);
			color: #000;
			}
	}
}
/*
* at home
*/
.project {
	background-color: #f5f5f5;

	.project-black {
		height: 457px;
		flex-flow: column nowrap;
		justify-content: space-around;
		align-items: center;
		color: #fff;
		background-color: #1a1a1a;
		a {
			text-decoration: none;
			color: #29c5f2;

		}
		h3 {
			margin-top: 60px;
			font-size: 24px;
			letter-spacing: 1.2px;
			text-transform: uppercase;

		}
		blockquote, cite {
			color: #7b6c63;
			font-size: 18px/36px;
			font-weight: 300;

		}
		.navi {
			margin: 36px 0 70px 0;
		}
		.fa-circle {
			color: #fff;
			&:hover {
				background-color: #fff;
				border: 1px solid #fff;
				border-radius: 50%;
				box-sizing: border-box;
			}
		}

	}
	.project-text {
		hr {
			width: 77px;
			height: 7px;
			background-color: #7b6c63;
			margin: 40px auto;
		}
		h2 {
			font-size: 40px/47px;
			color: #7b6c63;
			font-weight: 500;
			text-align: center;
			margin-bottom: 40px;
			padding-top: 50px;
		}
		p {
			font-size: 18px;
			color: #212121;
			margin: 0 auto;
			text-align: center;
			padding-bottom: 90px;
		}
	}
	.project-foto {
		justify-content: center;
		.project-foto-item {

			margin: 15px;
			&:hover {
				.text {
					border: 3px solid black;
				}
				.img {
					border: 3px solid black;
					a {visibility: visible;}
				
					&::before {
					background-color: rgba(0,0,0,0.9);
					}
				}
			}
			.img {
				box-sizing: border-box;
				width: 270px;
				height: 370px;
				position: relative; 
				background: #000 url(/img/man.png) no-repeat center;
				background-size: cover;
				
				justify-content: center;
				align-items: center;
				&::before {
					top:0;
					bottom: 0;
					left: 0;
					right: 0;
					content: '';
					position: absolute;
					z-index: 2;
					background-color: rgba(0,0,0,0);
					transition: background-color 1s ease-out;
				}
				a {
					
					z-index: 3;
					padding: 5px;
					visibility: hidden;
					.fab {
						color: white;
						font-size: 24px;
						border: 2px solid white;
						border-radius: 50%;
						padding: 15px;

								}
				}

			}
			.text {
				border: 3px solid #e4e4e4;
				text-transform: uppercase;
				width: 270px;
				margin: 30px 0 80px 0;
				text-align: center;
				transition: border 1s ease-out;
				h4{
					font-size: 24px;
					color: #000;
					margin-bottom: 18px;
				}
				p {
					font-size: 14px;
					color: #000;
					letter-spacing: 1.4px
				}
			}
		}
	}
}
.blog {
	.blog-content {
		padding:0;
		flex-flow: row nowrap;
		justify-content: space-between;
	}
	.blog-content-column {
		flex-flow: column nowrap;
		text-align: right;
		img {
			width: 100%;
		}
		time {
			color: #7b6c63;
			font-size: 16px;
			font-weight: 500;
		}
		p {
			color: #7b6c63;
			font-size: 16px;
			font-weight: 400;
			margin-bottom: 170px;
		}
		h3 {
			color: #212121;
			font-size: 24px;
			letter-spacing: 1.2px;
		}
		&:last-child {
			text-align: left;
		}
	}
	.blog-content-line {
		height: max-content;
		width: max-content;
	}
}
.contact {
	h2 {
		margin: 80px auto;
		text-align: center;
		color: #7b6c63;
		letter-spacing: 2px;
		font-size: 40px;
	}
	.grid {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-column-gap: 30px;
		justify-content: center;
		align-items: center;
		:focus{
			outline: none;}
		input[type="text"] {
			grid-column: 2/3;
			border: none;
			border-top: 2px solid black;
			padding-bottom: 25px;
		}
		input[type="email"] {
			grid-column: 3/4;
			border: none;
			border-top: 2px solid black;
			padding-bottom: 25px;
		}
		textarea {
			grid-column: 2/4;
			resize: none;
			border: none;
			border-bottom: 1px solid black;
			border-top: 2px solid black;
		}
		button {
			grid-column:2/4;
			margin: 30px 200px 80px 200px;
			padding: 15px;
			color: #000;
			font-weight: bold;
			font-size: 28px;
			border: 2px solid #000;
			background-color: #fff;
		}
	}
}
footer {
	.main-footer {
		flex-flow: row nowrap;
		justify-content: space-evenly;
		background-color: #000;
		padding-bottom: 50px;
		padding-top: 20px;
		.text {
			width: 15%;
			img{
				margin-top: 30px;
				position: relative;
			}
			h5 {
				color: #c2c2c2;
				font-size: 18px;
				font-weight: 400;
				line-height: 24.98px;
				text-transform: uppercase;
			}
			p {
				font-size: 14px;
				color: #929292;
			}
			time {
				color: #5f5f5f;
				font-size: 10px;
			}
			hr {
				background-color: #595959;
				border: 1px solid #595959;;
			}
		}
	}
	.copyright {
		background-color: #000;
		height: 58px;
		color: #595959;
		text-align: center;
		border-top: 1px solid #595959;
		padding: 30px auto 15px;
		p {
			box-sizing: border-box;
		}
	}	
}