@import "vars";
@import "fonts";

body {
	font-size: 16px;
	line-height: 1.65;
	font-family: 'Raleway', sans-serif;
	overflow-x: hidden;
	color: black; 
	margin: 0;
	padding: 0;
}
.flex {
	display: flex;
}
.grid {
	display: grid;
}
.header {
	height:95px;
	background-color: #303030;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
}

.logo {
	margin-left: 270px;
}
ul {

	li {
		display: inline-block;
		list-style-type: none;
		padding-right: 40px;
		&:last-child {
			padding-right: 120px;
		}
		a {
			text-transform: uppercase;
			text-decoration: none;
			color: white;
			padding-bottom: 10px;
			box-sizing: border-box;
			height: 40px;
			&:hover {
				border-bottom: 5px solid #7b6c63;
			} 

		}
	}
}
.main-header {
	flex-flow: column wrap;
	justify-content: center;
	align-content: center;
	height: 675px;
	width: 100%;
	background-image: url(/img/bg.jpg);
	background-position: center;
	background-size: cover;
	background-color: black;
	position: relative;
	color: white;
	 &::before {
	 	content: '';
	 	background-color: black;
		top: 0;
	 	bottom: 0;
 		right: 0;
		left: 0;
	 	opacity: .50;
	 	position: absolute;
	}
	h1 {
		z-index: 1;
		text-transform: uppercase;
		line-height: 75px;
		font-size: 65px;
		font-weight: 400;
		letter-spacing: 1.65px;
		margin-top: 0;
		margin-bottom: 68px;
		span {
			color: lighten(#7b6c63, 5%);
		}
	}
	h4 {
		text-transform: uppercase;
		z-index: 1;
		font-weight: 500;
		font-size: 24px;
		margin-bottom: 20px;
		padding-bottom: 0;
	}

}
.button {
		z-index: 1;
		height:40px;
		width:300px;
		position: relative;
		a {
			text-decoration: none;
			border: 1px solid black;
			padding: 20px 55px;
			background-color: #25221e;
			color: white;
			position: absolute;
			box-shadow: 4px 4px 8px black;
			&:active {
				transform: translate(5px, 5px);
				box-shadow: none;
			}
		}	
}
.fa-download {
	margin-left: 5px;
}